h1 {
    color: black;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    /* margin-left: 50px; */
    background-color: #5fb1e3;
}

.header {
    text-align: center;
}



/* 1st viz */

.container1 {
    width: 100%;
    height: 600px;
    float: left;
    /* position: relative; */
    margin-bottom: 30px;
    /* margin-left: 5px; */
    margin-top: 50px;
}

.step {
    width: 20%;
    height: 600px;
    float: left;
    /* position: relative; */
    margin-bottom: 60px;
    margin-left: 25px;
    margin-top: 150px;
}

#bubblechart {
    fill: white;
    /* stroke: white; */
    text-decoration: black;
    fill: black;
    background-color: #5fb1e3;
    stroke-width: 1.0px;
    opacity: 1.0;
    float: right;
    margin-right: 20px;
    color: black;
}

.bubbles {
    stroke-width: 1px;
    /* stroke: black; */
    fill: white;
    opacity: 0.6;
  }

.bubbles:hover {
    stroke: black;
    /* color: #fb84ce; */
    stroke-width: 3px;
    fill: white;
    opacity: 0.3;
  }



/* 2nd viz */

.container4 {
    width: 100%;
    height: 600px;
    float: left;
    /* position: relative; */
    margin-bottom: 60px;
    /* margin-left: 5px; */
    margin-top: 50px;
}

#streamgraph {
    fill: white;
    /* stroke: white; */
    text-decoration: black;
    fill: black;
    /* background-color: rgb(37, 34, 34); */
    stroke-width: 1.0px;
    opacity: 1.0;
    float: right;
    margin-right: 20px;
    color: black;
    /* width: 700px; 
    height: 500px;  */
}

