h1 {
    color: black;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    /* margin-left: 50px; */
    background-color: #5fb1e3;
}

.header {
    text-align: center;
}

p {
    font-size: 15px;
    padding: 0pt;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "Lucida Console", "Courier New", monospace;
}


.step {
    width: 20%;
    height : 600px;
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    line-height: 23px;
    color: white;
    float: left;
    margin-bottom: 60px;
    margin-left: 25px;
    margin-top: 100px;
  }
  
  .title {
    font-family: Arial,Helvetica,"san-serif";
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #262626;
    line-height: 1.2em;
    float:left;
  }

  .highlight{
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #1c4a66;
    line-height: 1.2em;
    float:left;
  }

  .highlight_year {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 2px; */
    color: #1c4a66;
    line-height: 1.2em;
    float:left;
  }


  .geo-img{
      float: right;
  }

  .header-img-fish{
      margin-top: 60px;
  }

/* 1st viz */

.container1 {
    width: 100%;
    height: 600px;
    float: left;
    /* position: relative; */
    margin-bottom: 30px;
    /* margin-left: 5px; */
    margin-top: 50px;
}


#bubblechart {
    fill: white;
    /* stroke: white; */
    text-decoration: black;
    fill: black;
    background-color: #5fb1e3;
    stroke-width: 1.0px;
    opacity: 1.0;
    float: right;
    margin-right: 20px;
    color: black;
}

.bubbles {
    stroke-width: 1px;
    /* stroke: black; */
    fill: white;
    opacity: 0.6;
  }

.bubbles:hover {
    stroke: #1c4a66;
    /* color: #fb84ce; */
    stroke-width: 3px;
    fill: #1c4a66;
    opacity: 0.8;
  }

#tooltip{
    background-color: white;
    font-family:Verdana; 
    text-decoration: white;
    border-radius: 5%;
    padding: 10px;
    opacity: 1;
}



/* 2nd viz */

.container4 {
    width: 100%;
    height: 600px;
    float: left;
    /* position: relative; */
    margin-bottom: 60px;
    /* margin-left: 5px; */
    margin-top: 50px;
}

#streamgraph {
    fill: white;
    /* stroke: white; */
    text-decoration: black;
    fill: black;
    /* background-color: rgb(37, 34, 34); */
    stroke-width: 1.0px;
    opacity: 1.0;
    float: right;
    margin-right: 20px;
    color: black;
    /* width: 700px; 
    height: 500px;  */
}


/* 3rd viz */

.container2 {
    width: 100%;
    height: 700px;
    float: left;
    /* position: relative; */
    margin-bottom: 60px;
    /* margin-left: 5px; */
    margin-top: 30px;
    margin-bottom: 30px;
}



.geo-img {
    position:relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 150px;
    height: 150px;
  }





/* scroll snap structure start */
html, body{
        scroll-snap-type: y mandatory; /*you can change this to y mandatory but it is misbehaving a bit*/
    }
/* This section is needed because the section is not taking up the height of its child container - caused because we used the float property in the child*/
section.slide:after{
        content: " "; 
        display: block;
        clear: both;
    }

section.slide {

        scroll-snap-align: start;
        /*scroll-snap-stop: always;*/
    }

section.slide_mid{
        scroll-snap-align: center;
        /*scroll-snap-stop: normal;*/
    }
section.slide_mid_last{
        scroll-snap-align: start;
        /*scroll-snap-stop: always;*/
    }

/* end */